*{
    box-sizing:border-box;
}
body,p{
    margin:0px;
}
a{
    text-decoration:none;
    color:black;
}
h4{
    margin:0px;
    color:#373737;
}
.a{
    background:#FFFFFF;
}
.b{
    background:#F8F8F8;
    padding-bottom:100px;
}
.c{
    background:#373737;
    color:#F8F8FF;
    height:250px;
}
.ac{
    float:left;
    height:220px;
    width:50%;
}
.ac>.m{
    margin:75px 439px 0px 167px;

}
.a::after{
    content:"";
    display:block;
    clear:both;
}
.ac>.m::after{
    content:"";
    display:block;
    clear:both;
}
.a1{
    float:left;
}
.a1>.img{
    height:85px;
}
.a2{
    float:left;
    padding:14px 0px 10px 0px;
}
.a2 .x{
    font-size:43px;
    font-weight:bold;  
}
.a2 .y{
    font-size:14px;
}
.a4{
    height:100%;
    width:60%;
    float:left;
}
.a5{
    height:100%;
    width:40%;
    float:left;
}
.ac .z{
    font-size:25px;  
    font-weight:bold;  
}
.log{
    border: solid #F04C4E 2px;
    text-align:center;
    margin: 110px 7px 0px;
    padding:10px 60px;
    float:right;
    border-radius:4px;
}
.new{
    background:#F04C4E;
    text-align:center;
    margin: 110px 7px 0px;
    padding:12px 48px;
    float:left;
    border-radius:4px;
}
.la:link,.la:visited,.la:active{
    color:#F04C4E;
}
.lb:link,.lb:visited,.lb:active{
    color:white;
}
.br{
    margin: 0px 280px 30px;
    font-size:32px;
    border: solid 1px #c1bbbb;
    border-radius:4px;
}
.b1{
    height:80px;
    padding:40px 70px 10px;
    background:#FFFFFF;
    border-radius:5px 5px 0px 0px;
    color:#373737;
}
.b2{
    padding:20px 70px;
    background:#FFFFFF;
    line-height:50px;
    color:#373737;
}
.b3{
    height:80px;
    padding:10px 70px;
    text-align:right;
    background:#FFFFFF;
    font-style:italic;
    border-radius:0px 0px 5px 5px;
    color:#373737;
}   
.cc1{
    float:left;
    width:30%;
    height:100%;
    padding:65px 0px 0px 160px;
}
.cc1>.x{
    font-size:25px;
}
.cc1>.y{
    padding-right:10px;
}
.cc1 .img{
    height:45px;
} 
.cc2{
    float:left;
    width:70%;
    height:100%;
    padding:70px 157px;
    text-align:right;
}
.cc2>.x{
    font-size:26px;
}
.cc2>.y{
    font-size:33px;
}
.c::after{
    content:"";
    display:block;
    clear:both;
}
