*{
    box-sizing: border-box;
    margin: 0px;
    font-family:"Open Sans",sans-serif;
}
img{
    width: 60px;
    height: 60px;
}
.img1{
    width: 40px;
    height: 40px;
}
a{
    font-size: large;
}
h1{
    margin: 0px;
}
h6{
    margin: 0px;
}

span{
    color: #E94636;
}
.header{
    font-family:"Open Sans",sans-serif;
    font-weight:bold;
    margin:auto;
    height:800px;
    width: 600px;
}
.row1{
    width: 100%;
    height: 15%;
    padding-top:5%;
}
.row1col1{
    width:35%;
    height:100%;
    float: left;
    font-size: 6px;
}
.row1col2{
    width:65%;
    height:100%;
    float: left;
  
}
.row2{
    box-shadow: 0 0 2px black;
    width: 100%;
    height: 10%;
    padding-left:15%;
    padding-right:15%;
    padding-top:5%;
}
.row2col1{
    width:50%;
    height:100%;
    float: left;
    text-align: left;
}
.row2col2{
    width:50%;
    height:100%;
    float: left;
    text-align: right;
}
form{
    height: 75%;
    width: 100%;
    background: #F4F4F4;
    box-shadow: 0 0 1px black;
    padding-left:15%;
    padding-right:15%;
    padding-top:5%;
}
#bigtext{
    height: 20%;
    width: 100%;
    padding-bottom:5%;
}
.form{
    height:15%;
    width:100%;
}
.label{
    height: 40%;
    width: 100%;
    
}
input{
    border:1px solid #F04C4D;
    width: 100%;
    height: 45%;
    font-size: medium;
    border-radius: 3px;
    
}
.ad{
    font-size: 10px;
    display: block;
    height: 10%;
    width: 100%; 
    
}
.ad > input{
    font-size: 15px;
    height: 75%;
    background: #E94636;
    color: white;
    width: 100%;
    border-radius: 3px; 
}
.footer{
    background:#373737;
    color:#F8F8FF;
    height: 200px;
}
.footera1{
    float:left;
    width:30%;
    height:100%;
    padding: 50px 0px 0px 100px;
}
.footera1>.x{
    font-size: x-large;
}   
.footera2{
    float:left;
    width:70%;
    height:100%;
    padding: 50px 100px;
    text-align:right;
}
.footera2>.x{
    font-size: x-large;
}
.footera2>.y{
    font-size: x-large;
}
.footer::after{
    content:"";
    display:block;
    clear:both;
}

    
    

